.modal-parent {
  width: 100%;
  height: 100%;
  z-index: 9998;
  top: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;

  .modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: #fff;
    border-radius: 4px;
    min-height: 400px;
    min-width: 400px;
    padding: 2rem 2rem 2rem 2rem;

  }
}
