.nav-wrapper-outer{
  width: 100%;
  background: #242b52;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=0, Color=#888888)";
  box-shadow: 0 2px 8px #888888;
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color=#888888);
  justify-content: space-between;
  height: 45px;
  padding:10px 0px 0px 0px;
  .nav-wrapper{
    width: 97%;
    margin:0 auto;
    
    
    color:white;
    display: flex;
    justify-content: space-between;
   
    img{
      height: 24px;
     
    }
    
    .nav-attribute{
        margin:0px 12px 0px 12px;
        
    }
    .wallet-image{
        height: 22px;
        margin-right: 10px;;
    }
  }
}
